@import '/reset.scss';
@import '/_variables.scss';

main {
    h1 {
        font-size: 3em;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
