.edit-palette__main {
    .edit-palette__palette-info {
        .palette-info__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
