.edit-palette__main {
    .edit-palette__title {
        margin-bottom: 50px;
        font-size: 2rem;
        font-weight: 600;
        // TODO: 타이틀 폰트를 변경해주세요!
    }
    .edit-palette__palette-info {
        padding-top: 40px;
        .palette-info__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .palette-info__color-range-label {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1rem;
                color: black;
                font-weight: 600;
                // TODO: 라벨 폰트를 변경해주세요!
                .palette-info__color-range {
                    margin: 20px 0 30px 0;
                }
            }
            .palette-info__palette-name {
                margin-bottom: 20px;
            }
            .palette-info__palette-description {
                margin-bottom: 20px;
            }
        }
    }
}
