.makePageWrapper {
    display: flex;
    flex-direction: column;
    width: 1200px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    .make-palette__palette-info {
        padding-top: 20px;
        background-color: #f9f9f9;
        border: 1px solid #e7e7e7;
        border-radius: 10px;
        padding: 30px;
        width: 1000px;
        margin-bottom: 50px;
        .palette-info__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 30px;
            .palette-info__color-range-label {
                font-size: 1.1rem;
                color: #a1a1a1;
                font-weight: 600;
            }
            .palette-info__palette-name {
                margin-bottom: 20px;
                border-radius: 5px;
                width: 200px;
            }
            .palette-info__palette-description {
                margin-bottom: 20px;
                border-radius: 5px;
                width: 800px;
                font-size: 1.3em;
            }
        }
    }
    .make-palette__button {
        width: 80px;
        height: 30px;
        background-color: #f1f1f1;
        border: 1px solid #c7c7c7;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        color: #7a7a7a;
    }
    .make-palette__hex-container {
        margin-bottom: 20px;
    }
}
