@import '../../_variables.scss';
@font-face {
    font-family: 'Wolyeonggyo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Wolyeonggyo.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

.mainHeader__Wapper {
    height: 600px;
    position: relative;

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 1.2em;
        margin-top: 20px;
        li {
            display: inline-block;
            margin: 5px;
        }
    }
    background-image: url(https://k.kakaocdn.net/dn/nHZ1Z/btqFofcNIom/EAPxDV2nKa0m9o2YsTPtWk/img.png);
    background-size: 550px;
    background-position: center 100px;
    background-repeat: no-repeat;

    .mainHeader__center {
        width: 100%;
        position: absolute;
        bottom: 20px;

        div {
            /*모든 색갈피 보기 및 색갈피*/
            padding-bottom: 10px;
            text-align: center;
            margin: 0 auto;
            width: 400px;
        }

        .mainHeader__logo {
            .LOGO {
                font-family: 'Wolyeonggyo';
                font-size: 8em;
                color: #2d2d2d;
            }
            height: 170px;
            margin-bottom: 120px;
            img {
                width: 400px;
            }
        }
    }
}
